@import url(/styles/headerfooterstyle.css);
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2%;
}

.mainimage {
    display: flex;
    justify-content: center;
}

.dropshape {
    background-color: var(--pink);
    border-radius: 50% 0 50% 50%;
    min-height: 315px;
    min-width: 317px;
    display: flex;
    justify-content: center;
   align-items:center;
}
.photocoder {
width: 95%;
height:95% ;
border-radius: 50%;
background-color: var(--purple);
}
.codername{
width: 10%;
font-size: 48px;
color: var(--pink);
font-weight: 400;
line-height: 81%;
font-family: "Jost", sans-serif;
}



@media screen and (min-width: 1200px) {
    
.main {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.dropshape {
    width: 439px;
    height: 448px;
}
    
}