@import url(/styles/headerfooterstyle.css);
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

:root {
    --pink: #e19898;
    --violet: #4d3c77;
    --purple: #3f1d38;
    --mauve: #b07a8d;
    --light-pink: #f9eaea;
    --dark-purple: #44274d;
    --white: #ffffff;
    --black: #000;
  }

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;  
}

.main_image {
    display: flex;
    justify-content: center;
    padding: 5% 2% 5% 2%
}

.drop_shape {
    background-color: var(--pink);
    border-radius: 50% 0 50% 50%;
    height: 315px;
    width: 317px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.photo_coder {
    width: 95%;
    height:95% ;
    border-radius: 50%;
    background-color: var(--purple);
}

.main_text{
    display: flex;
    flex-direction: column;
    padding: 5% 5% 2% 5%;
    
    
}

.coder_name{
    width: 10%;
    font-size: 60px;
    color: var(--pink);
    font-weight: 400;
    line-height: 81%;
    margin: 0 0 2% 0;
}

.footer_main_section{    
    display: none;
}

.coder_role{
    width: 100%;
    font-size: 22px;
    color: var(--dark-purple);
    font-weight: 400; 
    margin: 0 0 5% 0;
}

.coder_description{
    width: 100%;
    font-size: 18px;
    color: var(--black);
    font-weight: 400; 
    margin: 0 0 5% 0;
}

.contact_box{
    width: 236px;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_Linkedin {
    height: 50px;
  }
  
.call_button{
    width: 157.7px;
    height: 50px;
    background-color: var(--violet);
    color: var(--white);
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

  }


@media screen and (min-width: 1200px) {
    
.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
}

.coder_role{
    margin: 0 0 2% 0;
}

.coder_name{
    margin: 0 0 1% 0;
}

.coder_description{
    width: 75%;
    margin: 0 0 3% 0;
}

.main_image{
    padding: 1% 2.5% 1% 15%;
}

 .main_text{
    padding: 2% 10% 2% 2.5%
 }

.drop_shape {
    max-width: 439px;
    max-height:448px;
}


.coder_description{
    font-size: 15px;
}

.footer_main_section{        
    display: initial;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
}


}