@import url(/styles/headerfooterstyle.css);

.main_contact{
    min-height: 550px;
    margin: 0 auto;
}

.contact_title{
    color: var(--pink);
}
.contact_section{
    background-color: red;
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
    background-color: blueviolet;
    width: 60%;
}

.left_inputs{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}
.right_input{
    background-color: rgb(80, 184, 11);
    display: flex;
    flex-direction: column;
}
