@import url(/styles/headerfooterstyle.css);

.main_contact{
    min-height: 550px;
    margin: 0 auto;
}

.contact_title{
    color: var(--pink);
}
.contact_section{
    background-color: red;
    display: flex;
    justify-content: center;
}
form{
    background-color: blueviolet;
    width: 60%;
}

.inputs_container{
    background-color: aquamarine;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left_inputs{
    display: flex;
    flex-direction: column;
}
