:root {
  --pink: #e19898;
  --violet: #4d3c77;
  --purple: #3f1d38;
  --mauve: #b07a8d;
  --light-pink: #f9eaea;
  --dark-purple: #44274d;
  --white: #ffffff;
  --black: #000;
  --font-family-jost: 'Jost', sans-serif;
  --h1-font-size: 64px;
  --h2-font-size: 48px;
  --h3-font-size: 36px;
  --h4-font-size: 24px;
  --h5-font-size: 18px;
  --h6-font-size: 14px;
}


