@import url(/styles/headerfooterstyle.css);
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

:root {
    --pink: #e19898;
    --violet: #4d3c77;
    --purple: #3f1d38;
    --mauve: #b07a8d;
    --light-pink: #f9eaea;
    --dark-purple: #44274d;
    --white: #ffffff;
    --black: #000;
  }



.main_img  {

height: 265px;
width: 265px;
margin-top: 10%;
background-color: #e19898;
 margin-top: 15%;
border-radius: 500px 0px 500px 500px;
margin-left: 10%;
}

.dropshape img{
  width: 100%;

}

.main_img,
.aside {
    display: flex;
    flex-direction: column;

  }

.home_title{
    color: var(--pink);
    font-size: 48px;
    font-family: 'Jost', sans-serif;
    font-weight: normal;
    margin-left: 45%;
  
}
.home_subtitle{
color:var(--dark-purple);
font-family: 'Jost', sans-serif;
font-weight: normal;
font-size: 20px;
margin-bottom: -40px;
margin-left: 25%;

}

.home_subtitle,
.home_title{
  margin: 0%;
}


.call_button_link{
    background-color: var(--violet);
    color:var(--white);
    margin: 65px;
    margin-bottom: 65px;
    border-radius: 20px;
    text-align: center;
    padding: 16px;
    width:100px;
    margin-left: 0%;
  

}

